name: Build Artifact

on:
  push:
    branches: ["rewrite"]
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: "build-artifact"
  cancel-in-progress: true

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout
            uses: actions/checkout@v6

          - name: Setup Python
            uses: actions/setup-python@v5
            with:
              python-version: '3.13'

          - name: Install uv
            uses: astral-sh/setup-uv@v7

          - name: Install dependencies
            run: |
              sudo apt-get update
              sudo apt-get install -y gcc-mingw-w64 make tar

          - name: Build Artifact
            run: |
              make _build

          - name: Upload Artifact
            uses: actions/upload-artifact@v6
            with:
              name: mo2_lint-artifact
              path: dist/mo2_lint
