name: Formatting Check

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'

      - name: Run pre-commit hooks
        uses: pre-commit/action@v3.0.1
        with:
          extra_args: --all-files

      - uses: astral-sh/ruff-action@v3
        with:
          src: "./src"
          version: "0.14.6"
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - run: ruff check --fix
      - run: ruff format
