name: Formatting Check

on: [ push, pull_request, workflow_dispatch ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - uses: astral-sh/ruff-action@v3
        with:
          src: "./src"
          version: "0.14.6"
          args: check --no-fix

      - run: ruff format --diff

      - name: Run pre-commit hooks
        uses: pre-commit/action@v3.0.1
        with:
          extra_args: --all-files
