name: Formatting Check

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: astral-sh/ruff-action@v3
        with:
          src: "./src"
          version: "0.14.6"
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - run: ruff check --fix
      - run: ruff format
